/*estilos gerais*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1140px;
    margin: auto;
}

/*estilização do header*/

header .line{
    background-color: #117050;
    height: 10px;
}

.header-area{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.logo img {
    height: 64px;
    width: 64px;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search form {
    display: flex;
    flex-direction: row;
}

.search input {
    font-size: 16px;
    padding: 8px 16px;
    border: 1px solid #999999;
    outline: 0;
    width: 100%;
    max-width: 250px;
}

.search button {
    border: 0;
    margin-left: -30px;
    cursor: pointer;
    background-color: transparent;

    > img {
        width: 16px;
        height: 16px;
    }
}

.menu {
    margin-left: 50px;
    cursor: pointer;
}

.menu img {
    width: 24px;
    height: 24px;
}